In [119]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
%matplotlib inline

days=20
def get_data(days,tickers):
    df= pd.DataFrame()
    for company in tickers.keys():
            #company='vym'
        tkr=yf.Ticker(tickers[company])
        hist=tkr.history(period=f'{days}d')
        hist.index=hist.index.strftime('%d %B %y')
        hist=hist[['Close']]
        hist.columns=[company]
        hist=hist.T
        hist.index.name='Name'
        df=pd.concat([df,hist])
    return df

In [120]:
days=10
tickers={
    'hdv':'HDV',
    'vym':'VYM',
    'google':'GOOGL',
    'apple':'AAPL'
}
get_data(days,tickers)
df1

Empty DataFrame
Columns: []
Index: []

In [117]:
!pip install altair

Requirement already satisfied: altair in c:\users\mt199\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: pandas>=0.18 in c:\users\mt199\anaconda3\lib\site-packages (from altair) (1.1.3)
Requirement already satisfied: jsonschema in c:\users\mt199\anaconda3\lib\site-packages (from altair) (3.2.0)
Requirement already satisfied: jinja2 in c:\users\mt199\anaconda3\lib\site-packages (from altair) (2.11.2)
Requirement already satisfied: toolz in c:\users\mt199\anaconda3\lib\site-packages (from altair) (0.11.1)
Requirement already satisfied: entrypoints in c:\users\mt199\anaconda3\lib\site-packages (from altair) (0.3)
Requirement already satisfied: numpy in c:\users\mt199\anaconda3\lib\site-packages (from altair) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\mt199\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mt199\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\mt199\anaconda3\lib\site-packages (from jsonschema->altair) (0.17.3)
Requirement already satisfied: setuptools in c:\users\mt199\anaconda3\lib\site-packages (from jsonschema->altair) (50.3.1.post20201107)
Requirement already satisfied: six>=1.11.0 in c:\users\mt199\anaconda3\lib\site-packages (from jsonschema->altair) (1.15.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\mt199\anaconda3\lib\site-packages (from jsonschema->altair) (20.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\mt199\anaconda3\lib\site-packages (from jinja2->altair) (1.1.1)

In [115]:
companies=['apple','google']
data=df1.loc[companies]
data.sort_index()

NameError: name 'df1' is not defined

In [57]:
data=data.T.reset_index()
data

Name           index        hdv      google
0        31 March 11  35.759895  293.673676
1        01 April 11  35.788116  296.196198
2        04 April 11  35.865726  294.134125
3        05 April 11  35.879826  284.829834
4        06 April 11  36.035023  287.377380
...              ...        ...         ...
4209  09 November 06        NaN  236.551559
4210  10 November 06        NaN  237.012009
4211  13 November 06        NaN  240.755753
4212  14 November 06        NaN  244.894897
4213  15 November 06        NaN  246.211212

[4214 rows x 3 columns]

In [71]:
data.shape

(8428, 3)

In [59]:
data=pd.melt(data,id_vars=['index']).rename(columns={'value':'Stock Price(USD)'})
data

               index    Name  Stock Price(USD)
0        31 March 11     hdv         35.759895
1        01 April 11     hdv         35.788116
2        04 April 11     hdv         35.865726
3        05 April 11     hdv         35.879826
4        06 April 11     hdv         36.035023
...              ...     ...               ...
8423  09 November 06  google        236.551559
8424  10 November 06  google        237.012009
8425  13 November 06  google        240.755753
8426  14 November 06  google        244.894897
8427  15 November 06  google        246.211212

[8428 rows x 3 columns]

In [69]:
import altair as alt
chart=(
        alt.Chart(data)
       .mark_line(opacity=0.8)
       .encode(
           x="Date:T",
           y=alt.Y("Stock Price(USD):0",stack=None),
           color="Name:N"))

In [70]:
chart

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000). For information on how to plot larger datasets in Altair, see the documentation

alt.Chart(...)